$yellow: #ffcc00
$orange: #ff9000
$green: #44c200
$grey: #656565
$white: #ffffff

@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900)
@import 'animations'
@import 'animate'
@import 'fonts'
@import 'bootstrap'

body
  margin: 0 auto
  padding: 0
  overflow-x: hidden

header
  width: 100%
  height: auto
  background:
    color: $white
  display: flex
  align-items: center
  justify-content: center
  flex-direction: row

  .logo
    height: auto
    min-height: 180px
    width: 544px
    background:
      image: url('../images/logo.png')
      repeat: no-repeat
      size: contain
      position: center center

  nav
    display: flex
    align-items: center
    justify-content: center
    flex-direction: row
    margin: 0 25px

    a.trigger
      display: none
      position: absolute
      width: 50px
      height: 50px
      background-color: $orange
      border-radius: 50%
      top: 25px
      right: 25px
      align-items: center
      justify-content: center
      flex-direction: column
      z-index: 10

      span
        width: 40px
        height: 6px
        display: inline-block
        border-radius: 6px
        background-color: $white
        margin: 3px 0
        opacity: 1
        transition: all 0.3s linear

        &:nth-child(1), &:nth-child(3)
          width: 30px

      &.active
        span
          margin: -3px 0

          &:nth-child(1)
            transform: rotate(-45deg)
            width: 40px

          &:nth-child(2)
            transform: rotate(45deg)

          &:nth-child(3)
            opacity: 0

      &:before
        position: absolute
        display: block
        border: solid 4px $green
        content: ''
        top: 0
        left: 0
        width: 100%
        height: 100%
        border-radius: 50%
        box-sizing: border-box
        border-top: transparent
        border-right: transparent
        transform: rotate(-10deg)
      &:after
        position: absolute
        display: block
        border-top: solid 1px $green
        border-right: 3px solid $green
        content: ''
        top: 2px
        left: 10px
        width: 100%
        height: 100%
        border-radius: 50%
        box-sizing: border-box
        transform: rotate(-25deg)

    ul
      list-style: none
      padding: 0
      margin: 0
      display: flex
      align-items: center
      justify-content: center
      flex-direction: row
      transition: all 0.3s linear
      position: relative

      li
        transition: all .3s ease-in-out

        &.mobile
          display: none

        &.login
          a
            color: $grey
            font:
              family: "Royal Delight"
              size: 18px
            text-transform: uppercase
            text-decoration: none

        a
          color: $grey
          font:
            family: Lato
            size: 18px
          text-transform: uppercase
          text-decoration: none
          padding: 55px 20px
          width: 135px
          display: block
          text-align: center
          transition: all .3s ease-in-out
          border-radius: 50%
          &:hover
            text-decoration: none

        &.active, &:hover
          a
            color: $white
            background:
              color: $orange
            animation: bounceIn .3s ease-in-out

section
  width: 100%
  height: auto
  padding: 25px
  box-sizing: border-box

  &.about
    background-color: $yellow
    position: relative
    margin-top: 60px

    &:before
      width: 100vw
      height: 20px
      content: ''
      display: block
      position: absolute
      top: -50px
      right: 0
      border-top: 100px solid $yellow
      border-radius: 100% 5% 0 0
      background-color: $yellow
      z-index: 3
      transform: rotate(-2deg)

    &:after
      width: 100%
      height: 20px
      content: ''
      display: block
      position: absolute
      bottom: -20px
      left: 0
      border-bottom: 20px solid $orange
      border-radius: 0 0 50% 50%
      background-color: $orange
      z-index: 3

    .container
      width: 100%
      height: 100%

      .items
        display: flex
        align-items: center
        justify-content: center
        flex-direction: row
        width: 100%
        height: 100%
        margin-top: 100px

        .item
          width: 25%
          height: 100%
          display: flex
          align-items: center
          justify-content: center
          flex-direction: column
          position: relative
          margin-bottom: 100px

          h1
            display: inline-block
            color: $grey
            font:
              family: "Royal Delight"
              size: 26px
            text-transform: uppercase
            padding: 20px 20px
            position: absolute
            bottom: -100px
            opacity: 0
            overflow: hidden
            transition: all .3s linear
            // duration = sum of delays
            animation:
              name: changeText
              duration: 12s
              timing-function: ease-in-out
              iteration-count: infinite

            &:nth-of-type(1)
	            animation-delay: 0s

            &:nth-of-type(2)
	            animation-delay: 4s

            &:nth-of-type(3)
	            animation-delay: 8s

          .brain
            background:
              image: url('../images/brain.png')
              repeat: no-repeat
              size: contain
            width: 222px
            height: 194px
            position: relative

            .particles
              background:
                image: url('../images/particles.png')
                repeat: no-repeat
                size: contain
              width: 128px
              height: 105px
              position: absolute
              top: 30px
              left: 40px

            &.brain-1
              .arrow
                background:
                  image: url('../images/arrow.png')
                  repeat: no-repeat
                  size: contain
                width: 100px
                height: 50px
                position: absolute

                &:nth-of-type(1)
                  bottom: 20px
                  left: -20px
                  transform: rotate(180deg)
                &:nth-of-type(2)
                  top: 0
                  left: 10px
                  transform: rotate(270deg)
                &:nth-of-type(3)
                  top: 0
                  right: -20px

            &.brain-2
              .arrow
                background:
                  image: url('../images/dubbleArrow.png')
                  repeat: no-repeat
                  size: contain
                width: 100px
                height: 88px
                position: absolute

                &:nth-of-type(1)
                  top: -50px
                  left: 60px

              .brain
                position: absolute
                top: -40px
                right: -40px
                width: 100px
                height: 72px
                opacity: 0

                &.animate
                  animation:
                    name: bounceIn
                    duration: .3s
                    iteration-count: 1
                    fill-mode: forwards

                &:nth-of-type(1)
                  animation-delay: .3s

            &.brain-3
              .particles
                background:
                  image: url('../images/particlesConected.png')
              .arrow
                background:
                  image: url('../images/arrowThin.png')
                  repeat: no-repeat
                  size: contain
                width: 38px
                height: 113px
                position: absolute
                z-index: 3

                &:nth-of-type(1)
                  top: -30px
                  left: 15px

                &:nth-of-type(2)
                  top: -32px
                  left: 70px
                  transform: rotate(20deg)

                &:nth-of-type(3)
                  top: -30px
                  left: 122px
                  transform: rotate(60deg)

                &:nth-of-type(4)
                  top: 6px
                  left: 180px
                  transform: rotate(80deg)

                &:nth-of-type(5)
                  top: 87px
                  left: 127px
                  transform: rotate(90deg) scaleX(-1)

              .brain
                position: absolute
                top: -40px
                right: -40px
                width: 100px
                height: 72px
                opacity: 0

                &.animate
                  animation:
                    name: bounceIn
                    duration: .3s
                    iteration-count: 1
                    fill-mode: forwards

                &:nth-of-type(6)
                  top: -60px
                  left: 15px
                  animation-delay: .3s

                &:nth-of-type(7)
                  top: -60px
                  left: 100px
                  animation-delay: .6s

                &:nth-of-type(8)
                  top: -27px
                  left: 175px
                  animation-delay: .9s

                &:nth-of-type(9)
                  top: 40px
                  left: 212px
                  animation-delay: 1.2s

                &:nth-of-type(10)
                  top: 113px
                  left: 169px
                  animation-delay: 1.5s


          .piggy
            background:
              image: url('../images/piggy.png')
              repeat: no-repeat
              size: contain
            width: 234px
            height: 203px
            position: relative

            .bar
              display: block
              width: 20px
              height: 0px
              background-color: $orange
              position: absolute
              top: 50%
              left: 50%

              &.animate
                animation:
                  name: grow
                  duration: .3s
                  iteration-count: 1
                  fill-mode: forwards

              &:nth-of-type(1)
                animation-delay: .3s
                transform: translate(-50%,-50%) rotate(45deg)
              &:nth-of-type(2)
                animation-delay: .3s
                transform: translate(-50%,-50%) rotate(-45deg)

  &.info
    background-color: $white
    position: relative

    .container

      .view
        display: flex
        align-items: center
        justify-content: center
        flex-direction: row
        position: relative

        .title
          width: 100%
          height: 185px
          display: flex
          align-items: center
          background:
            image: url('../images/orangePencil.png')
            repeat: no-repeat
            size: contain
          h1
            position: relative
            color: $white
            font:
              family: "Royal Delight"
              size: responsive 22px 30px
            text-transform: uppercase
            text-decoration: none
            margin-left: 175px
            max-width: 220px
            display: flex
            align-items: flex-start
            justify-content: center
            flex-direction: column

            span
              display: inline-block
        .text
          width: 100%
          padding: 15px
          font:
            family: Lato
            size: 18px
          text-transform: uppercase
          color: $grey


      ul.about
        width: 100%
        padding: 25px 0
        margin: 0
        list-style: none
        display: flex
        align-items: center
        justify-content: center
        flex-direction: row
        position: relative

        li
          width: 100%
          height: 110px
          background:
            image: url('../images/yellowPencil.png')
            repeat: no-repeat
            size: contain
            position: center center
          margin: 10px
          box-sizing: border-box
          display: flex
          align-items: center
          justify-content: center
          position: relative

          &.active
            display: none

          .lang
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            position: absolute

            a
              position: relative
              color: $grey
              font:
                family: "Royal Delight"
                size: 22px
              text-transform: uppercase
              text-decoration: none
              display: flex
              align-items: flex-start
              justify-content: center
              flex-direction: column

              span
                display: inline-block

            span
              display: none

  &.stats
    position: relative
    background: $yellow

    &:before, &:after
      content: ''
      background: repeating-linear-gradient(-45deg, $grey, $grey 10px, $white 10px, $white 20px)
      height: 10px
      width: 100%
      position: absolute

    &:before
      top: -10px
      left: 0
    &:after
      bottom: -10px
      left: 0

    .container
      position: relative
      display: flex
      align-items: center
      justify-content: center
      flex-direction: row

      .column
        width: 100%
        padding: 25px
        display: flex
        align-items: center
        justify-content: center
        flex-direction: row
        position: relative

        h1
          color: $grey
          font:
            family: "Royal Delight"
            size: 28px
          text-transform: uppercase
          width: 50%
          word-break:
        span
          color: $grey
          font:
            family: "Royal Delight"
            size: 40px
          text-transform: uppercase
          width: 50%

        i.icon
          width: 130px
          height: 130px
          display: block
          background:
            repeat: no-repeat
            size: contain
            position: center center

        &:nth-child(1)
          i.icon
            background:
              image: url("../images/person.png")

        &:nth-child(2)
          i.icon
            background:
              image: url("../images/link.png")

footer
  width: 100%
  height: auto
  background:
    color: $white

  .container
    display: flex
    align-items: center
    justify-content: center
    flex-direction: row
    padding: 25px
    box-sizing: border-box

    .logo
      height: auto
      min-height: 136px
      width: 500px
      background:
        image: url('../images/logo.png')
        repeat: no-repeat
        size: contain
        position: center center

    .copyright
      font:
        family: Lato
        size: 20px
      color: $grey

    ul.social
      display: flex
      align-items: center
      justify-content: center
      flex-direction: row
      list-style: none
      padding: 0

      li
        padding: 0 5px
        a
          display: flex
          align-items: center
          justify-content: center
          color: $white
          text-decoration: none

          i
            display: flex
            align-items: center
            justify-content: center
            width: 50px
            height: 50px
            border-radius: 50%
            font-size: 20px

        &:nth-child(1)
          i
            background-color: #3b5998
        &:nth-child(2)
          i
            background-color: #55acee
        &:nth-child(3)
          i
            background-color: #3f729b


@import 'login'
@import 'contact'
@import 'responsive'
