
// about
@media (max-width: 1200px)
  section.about
    .container
      .items
        flex-wrap: wrap
        .item
          width: 50% !important
          padding: 25px 0

@media (max-width: 690px)
    section.about
      .container
        .items
          .item
            width: 100% !important
